@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: url("https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExaHk1eDl2cnJwY3R6OWV3em5xd2phaWYxYWJ4a3FlOTJwcWFrbWo4cCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/PY6rZl1vZwLra/giphy.gif");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

header .navbar {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar .logo {
  color: rgb(255, 255, 255);
  font-size: 2.1rem;
  font-weight: 800;
}

.navbar .logo span {
  color: rgb(0, 0, 0);
}

.navbar .menu-link{
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: larger;
  font-weight: bolder;
}

.navbar a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar a:hover {
  color: rgb(255, 0, 0);
}

.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 20px;
  row-gap: 2;
}

.hero-section .content {
  color: rgb(255, 255, 255);
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.hero-section .content h1 {
  font-size: 6rem;
  max-width: 900px;
}

.hero-section .content p {
  font-weight: 700;
  font-size: larger;
  max-width: 600px;
  padding-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
  }

  .button:hover {
    background-color: #ff0000;
  }

.hero-section .content button:hover {
  color: #000000;
  background: rgb(255, 0, 0);
}

#menu-btn {
  color: #fff2f2;
  cursor: pointer;
  display: none;
}

#close-menu-btn {
  display: none;
  position:absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}



@media screen and (max-width: 900px) {
  header {
    padding: 10px 20px;
  }

  header.show-mobile-menu {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  #close-menu-btn, #menu-btn {
    display: block;

  }

  .navbar .menu-link{
    position: fixed;
    left: -260px;
    top: 0;
    flex-direction: column;
    width: 260px;
    height: 100vh;
    background: #fff;
    padding: 70px 40px 0;
    transition: left 0.1s ease;
  }

  header.show-mobile-menu .navbar .menu-link {
    left: 0;

  }

  .navbar a{
    color: black;
  }

  .hero-section .content {
    text-align: center;
  }

  .hero-section .content :is(h1, p) {
    max-width: 100%;
  }

  .hero-section .content h1 {
    font-size: 2.3rem;
    line-height: 60px;
  }

  .hero-section .content button {
    padding: 9px 18px;
  }
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5rem;
  
    & .section {
      font-weight: 900;
    }
  
    & .logo {
      height: 200px;
      padding-top: 5rem;
    }
  
    & .narrative {
      font-weight: 900;
    }
}


.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  
    & h3 {
      color: #fff;
      font-size: 3rem;
    }
  
    & .card-container {
      display: flex;
      gap: 2.5rem;
      flex-wrap: wrap;
  
      & .card {
        border-radius: 5px;
        width: 15rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        position: relative;
        overflow: hidden;
        transition: all ease 0.5s;
  
        & img {
          height: 20rem;
          width: 15rem;
          object-fit: cover;
          border-radius: 5px;
          transition: all ease 0.5s;
        }
  
        & .content {
          position: absolute;
          width: 15rem;
          background: rgb(0, 0, 0);
          background: linear-gradient(
            10deg,
            rgba(0, 0, 0, 0.577) 35%,
            rgba(255, 255, 255, 0) 78%,
            rgba(255, 255, 255, 0) 100%
          );
          bottom: -6rem;
          padding: 1rem;
          opacity: 0;
          transition: all ease 0.5s;
          color: white;
  
          & h4 {
            font-size: 1.5rem;
            padding: 0 1rem;
          }
  
          & p {
            color: white;
            text-indent: 2rem;
            text-align: justify;
            text-justify: inter-word;
            overflow: hidden;
            padding: 0 1rem;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }
  
        &:hover {
          background-color: gray;
  
          & img {
            scale: 0.9;
            opacity: 0.4;
          }
  
          & .content {
            bottom: 0;
            opacity: 1;
            filter: brightness(1);
          }
        }
      }
    }
  }